* {
    font-family: 'Raleway', 'sans serif';
}

span {
    margin-left: 20px;
}

button {
    border-radius: 8px;
}

ul {
    list-style: none;
}

li:before {
    content: '+ ';
    line-height: 1.5;
}

p.error {
    color: red;
}

#graphs {
    width: 988px;
    height: 488px;
}

.column-s {
    float: left;
    width: 20%;
}

.column {
    float: left;
    width: 80%;
}

/* Clear floats after the columns */
.row:after {
    content: '';
    display: table;
    clear: both;
}

.txn {
    font-size: 15px;
}