* {
    font-family: 'Raleway', 'sans serif';
}

span {
    margin-left: 20px;
}

button {
    margin-top: 10px;
}

ul {
    list-style: none;
}

li:before {
    content: '+ ';
    line-height: 1.5;
}

p.error {
    color: red;
}